{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<div class="logblock">
    <a href="/welcome" class="button" style="background-color: #222B35;">Oma sivu</a>
    <a href="/recipes" class="button" style="background-color: #222B35;">Reseptit</a>
    <a href="/new" class="button" style="background-color: #222B35;">Luo uusi resepti</a>
    <a href="/my_recipes" class="button" style="background-color: #222B35;">Omat reseptit</a>
</div>  
<h2>Käyttäjän {{ name }} suosikkireseptit:</h2>
<ul>
    {% for r in recipes %}
    <li><a href="/recipe/{{ r.id }}">{{ r.name }}</a>
    {% endfor %}
    </ul>
<p>
<p>
{% else %}
<h3>Tällä sivulla on sisäänkirjautuneen käyttäjän toimintoja</h3>
<div class="logblock"> 
    <h3 class="loglink">Sisäänkirjautuneena voit</h3>
    <ul>
      <li>Luoda uusia reseptejä</li>
      <li>Merkitä reseptejä suosikiksi</li>
    </ul>
    <a href="/login" class="loglink"> Sisäänkirjautumiseen</a>
    <br>
    <a href="/register" class="loglink">Luo käyttäjätunnus</a>
</div>
{% endif %}
{% endblock %}