{% block content %}
<h2>Lisää respti</h2>
<form action="/new" method="POST">
nimi:
<input type="text" name="name" minlength="3" maxlength="20">
<br>
annoksia: <input type="number" name="serves">
<br> 
valmistusaika: 
<input type="number" name="active" placeholder="aktiivinen">|<input type="number" name="passiivinen" placeholder="passiivinen">
<br>
Ainekset:
<br>
<p>Syötä ainekset näin: (desimaaliarvo määrästä)-(mittayksikkö)-(aineksen nimi)</p>
<textarea name="incredients" rows="18" cols="20" maxlength="10000" placeholder="1-dl-vesi">
</textarea>
<br>
<p>Ohje:<br>
<textarea name="instructions" rows="18" cols="40" maxlength="10000">
</textarea></p>
  
<input type="submit" value="Lähetä">
</form>
<p>
<a href="/welcome">Palaa takaisin</a>
{% endblock %}