{% extends "layout.html" %}
{% block content %}
<h2>Lisää resepti</h2>
<form action="/new" method="POST">
nimi:
<input type="text" name="name">
<br>
annoksia: <input type="number" name="serves">
<br> 
valmistusaika: 
<input type="number" name="active" placeholder="aktiivinen">
<br>
<input type="number" name="passive" placeholder="passiivinen">
<br>
<p>Ainekset:<br>
<textarea name="incredients" rows="8" cols="40" maxlength="10000">
</textarea></p>
<br>
<p>Ohje:<br>
<textarea name="instructions" rows="18" cols="40" maxlength="10000">
</textarea></p>
  
<input type="submit" value="Lähetä">
</form>
<p>
<a href="/welcome">Palaa takaisin</a>
{% endblock %}
