
{% extends "layout.html" %}
{% block content %}
<form action="/recipes" method="POST">
<h1>Reseptit</h1>
<input type="text" name="incredient" class="input" placeholder="ainesosa"><input type="submit" class="button" value="Hae">
<p class="error">{{ error }}</p>
<p>tähän tulee linkkejä tuoteryhmiin & jotain jolla ohjeita voi järjestää (nopein, pidetyin, kronologinen)</p>
<h2>{{ list_heading }}</h2>
<ul>
    {% for recipe in recipes %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
    {% endfor %}
    </ul>
<p>
</form>
{% endblock %}
