{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<div class="logblock">
    <a href="/welcome" class="button" style="background-color: #222B35;">Oma sivu</a>
    <a href="/recipes" class="button" style="background-color: #222B35;">Reseptit</a>
    <a href="/new" class="button" style="background-color: #222B35;">Luo uusi resepti</a>
    <a href="/favorites" class="button" style="background-color: #222B35;">Omat suosikit</a>
    <a href="/my_recipes" class="button" style="background-color: #222B35;">Omat reseptit</a>
</div>
{% else %}
<a href="/recipes" class="button" style="background-color: #006847;">Takaisin resepteihin</a>
{% endif %}
{% if session.user_id == creator_id %}
<form action="/recipe/{{id}}" method="POST">
    <h1> {{ name }} 
        <input type="submit" class="button" value={{favorite_button}}>
        <a href="/modify/{{id}}" class="button" style="background-color: #006847; text-shadow: 0px 0px 0px;">
            Muokkaa
        </a>
    </h1> 
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% elif session.user_id %}
<form action="/recipe/{{id}}" method="POST">
    <h1> {{ name }} <input type="submit" class="button" value={{favorite_button}}></h1> 
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% else %}
<h1> {{ name }} </h1> 
{% endif %}
<a>Resepti on <b>{{ fav_count }}</b> käyttäjän suosikeissa</a>
<p>käyttäjältä <b>{{ creator }}</b></p>
<p>
    <b>Annoksia:</b> {{ serves }} 
</p>
<p>
    <b>Valmistusaika:</b> {{ total }}h (aktiivista {{ active }}h, passiivista {{ passive }}h)
</p>
<h3>Ainekset:</h3>
<ul>
    {% for incredient in incredients %}
    <li>{{ incredient.quantity }} {{ incredient.scale }} {{ incredient.name }}
    {% endfor %}
</ul>
<p>
<h3>Työvaiheet:</h3>
{{ instructions }}
<p>
<form action="/recipes" method="POST">
    <h3>Tagit:</h3>
    {% for tag in tags %}
    <input type="submit" name="{{ tag[0] }}" class="tag" value="{{tag[0]}}"></input>
    {% endfor %}
</form>
<br>
<br>
{% endblock %}
