{% extends "layout.html" %}
{% block content %}
<br>
<a href="/recipes">takaisin</a>
<h1> {{ name }} </h1> 
{% if session.user_id %}
<form action="/recipe/{{id}}" method="POST">
<input type="submit" class="button" value={{favorite_button}}>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}
<a>Resepti on {{ fav_count }} käyttäjän suosikeissa</a>
<p>lisääjä: {{ creator }}</p>
<p>
<p>Annoksia: {{ serves }} 
<br>
Valmistusaika {{ total }}h (aktiivista {{ active }}h, passiivista {{ passive }}h)
<h3>Ainekset:</h3>
<ul>
    {% for incredient in incredients %}
    <li>{{ incredient.quantity }} {{ incredient.scale }} {{ incredient.name }}
    {% endfor %}
</ul>
<p>
<h3>Työvaiheet:</h3>
{{ instructions }}
<p>
<form action="/recipes" method="POST">
<h3>Tagit:</h3>
{% for tag in tags %}
<input type="submit" name="{{ tag[0] }}" value="{{tag[0]}}"></input>
{% endfor %}
</form>
<br>
<br>
{% endblock %}
