{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<p> Tervetuloa! </p>
<p>Tällä sivulla voit</p>
<ul>
<li> <a href="/recipes">Siirtyä selaamaan reseptejä</a>
<li> <a href="/new">Luoda uuden reseptin</a>
<li> <a href="/favorites">Selata omia suosikkeja</a>
<li> <a href="/my_recipes">Selata omia reseptejä</a>
<li> lisätä tai tutkailla omia tarvikkeita
</ul>
<p>
{% else %}
Tällä sivulla on kirjautuneen käyttäjän toimintoja.
<p>
Vaikuttaisi siltä ettet ole <a href="/login">kirjautunut sisään</a>.
<p>
{% endif %}
<a href="/">Palaa etusivulle</a>

{% endblock %}
