{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<h1>Käyttäjän {{ name }} oma sivu</h1>
<h1>
    <a href="/recipes">Reseptit</a>
</h1>
<br>
<div class="logblock" style="background-color: #ffdfa7">
    <h2>Toiminnot:</h2>
    <ol>
        <h3><li><a href="/new" style="color: #008B8B;">Luo uusi resepti</a></li></h3>
        <h3><li><a href="/favorites" style="color: #008B8B;">Omat suosikit</a></li></h3>
        <ul>
            <li><p>Selaa reseptejä, jotka olet merkinnyt suosikiksi</p></li>
        </ul>
        <h3><li><a href="/my_recipes" style="color: #008B8B;">Omat reseptit</a></li></h3>
        <ul>
            <li><p>Selaa ja muokkaa lisäämiäsi reseptejä</p></li>
        </ul>
    </ol>
</div>
<br>
<br>
<a href="/" class="button">Palaa etusivulle</a>
<br>
<a href="/logout" class="button">Kirjaudu ulos</a>
{% else %}
<h3>Tällä sivulla on sisäänkirjautuneen käyttäjän toimintoja</h3>
<div class="logblock"> 
    <h3 class="loglink">Sisäänkirjautuneena voit</h3>
    <ul>
      <li>Luoda uusia reseptejä</li>
      <li>Merkitä reseptejä suosikiksi</li>
    </ul>
    <a href="/login" class="loglink"> Sisäänkirjautumiseen</a>
    <br>
    <a href="/register" class="loglink">Luo käyttäjätunnus</a>
</div>
{% endif %}
{% endblock %}
